*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}   
body {
            background-color: white;
            display:flex;
            justify-items: center;
            flex-direction: column;
            color: black;
            width: fit-content;
        }
#navbar {
    background:linear-gradient(120deg,#2d033b ,#7b2cbf ,#ff77c6,#5a189a)!important;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.4),inset 0px -1px 2px rgba(0,0,0,0.4) 0 8px 20px rgba(0, 0, 0, .3);
    position: fixed;
    display: grid;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: .5rem 5rem;
}  
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 600;
    background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6);-webkit-background-clip: text;-webkit-text-fill-color:transparent;background-position: right center !important;
}
.nav-links a {
            font-size: 25px ;
            font-weight: 800;
            color: #f5f4f4 !important;
            padding-left:20px;
            transition: color 0.3s;
        }
        #navbarSupportedContent {
        font-size: 20px;
        font-weight: 600;
        }
        #navbarSupportedContent.button {
            width: 5px;
            height: 5px;
        }
         #navbarSupportedContent a:hover,navbarSupportedContent a:active{
            background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6);-webkit-background-clip: text;-webkit-text-fill-color:transparent;background-position: right center;
        }.section{
            scroll-margin: 80px;
        }

        .section h1,h2{
            margin-left: 30 px;
            font-size: clamp(1rem, 2.5vw, 1.2rem);
  border-left: 5px solid #2183e6;
  padding: 8px 10px;
  background: #f8f9fa;
  text-transform: uppercase;
  word-wrap: break-word;
            display: grid;
            justify-content: left;
            align-items: left;
            background:linear-gradient(#39aacc ,#ec3fcf );-webkit-background-clip: text;-webkit-text-fill-color:transparent;background-position: right center;
        }
        #about{
            margin-top: 120px;
            display:flex;
            flex-direction: column;
            width:fit-content;
        }
        .profile{
            width:100%;
            background:url(bojo.png);
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
            display: grid;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            justify-items: center;
            margin-bottom: 20px!important;
        }
        .profile h1,h2 {
            all:unset;
            justify-content: center;
            colour:purple;

        }

        .circle-img{ 
            width: 150px;
            height: 150px;
            border-radius: 50% !important;
            border:4px solid skyblue;
            object-fit: cover;
            display: flex;
        }
        
        button {

            padding: 10px;
            border-radius: 10px!important;
            font-size: 20px;
            font-weight: 600;
            width: fit-content;
            color: white;
            background:linear-gradient(120deg,#2d033b ,#7b2cbf ,#ff77c6,#5a189a)!important;
        }
        
        
        .links {
            background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6);-webkit-background-clip: text;-webkit-text-fill-color:transparent;background-position: right center;
            font-size: 30px;
            margin-top: 15px;
        }
        .skills {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
        }
        .skill {
            background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6)!important;
            color: white;
            padding: 8px 15px;
            border-radius: 20px;
            font-size: 30px;}
.hero{
    background:url(panda.jpg); 
      background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
        }#hire-form {
      justify-content:center;
      align-items: left;
      width:fit-content;
      height:fit-content;
      margin-top: 30px;
      background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6)!important;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    .hire-form h2 {
      text-align: center;
    }
    
    .hire-form input,
    .hire-form select,
    .hire-form textarea,
    .hire-form button {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      font-size: 14px;
    }
    .hire-form button {
      background:linear-gradient(120deg,#2d033b ,#7b2cbf ,#ff77c6,#5a189a)!important;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    #boy a {
      display: inline-block;
      margin: 5px;
      text-decoration: none;
      color: white;
      padding: 8px 12px;
      border-radius: 5px;
    }
    .call {
      background:linear-gradient(120deg,#2d033b ,#7b2cbf ,#ff77c6,#5a189a);
      color: white;
    }
    .whatsapp {
      background:linear-gradient(120deg,#2d033b ,#7b2cbf ,#ff77c6,#5a189a);
      color: white;
    }

        .academic{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            justify-items: center;

        }
         .education-item {
            width:80%;
            display: grid;
            background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6)!important;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            margin-bottom: 30px;
        }
        
        .education-item h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        
        .education-item .institution {
            font-weight: 600;
        }
        
        .education-item .date {
            margin-bottom: 15px;
            font-size: 14px;
        }
        
        /* Experience Page Styles */
        .experience{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            justify-items: center;
        }
        .experience-item {
            width:80%;
            display:flex;
            flex-direction:column;
            background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6)!important;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            margin-bottom: 30px;
        }
        
        
        .experience-item h3 {
            font-size: 20px;
            color: var(--primary-color);
            margin-bottom: 10px;
        }
        
        .experience-item .company {
            font-weight: 600;
            color: var(--secondary-color);
        }
        
        .experience-item .date {
            color: var(--text-light);
            margin: 10px 0 15px;
            font-size: 14px;
        }
        
    
        
        .experience-item li {
            margin-bottom: 8px;
        }
        
        /* Certifications Page Styles */
        .certifications { 
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            justify-items: center;
        }
        
        .certification-card {
            display:flex;
            flex-direction:column;
            width:80%;
            background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6)!important;
            border-radius: 20px;
             margin-bottom: 30px;
            border-bottom: 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            transition: transform 0.3s;
        }
        
        .certification-card:hover {
            transform: translateY(-5px);
            background:linear-gradient(120deg,#033b14 ,#2cbf69 ,#77dfff,#3797e6)!important;
        }
        
        .cert-img {
            display: fit-content;
            flex-wrap: wrap;
            max-height: fit-content;
            max-width: fit-content;
        }
        .cert-content{
            padding: 20px;
        }

        .cert-content h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: var(--secondary-color);
        }
        
        .cert-content .issuer {
            color: var(--primary-color);
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 14px;
        }
        
        .cert-content .date {
            color: var(--text-light);
            font-size: 13px;
        }
        
        /* Projects Page Styles */
        .projects {
            width: 100%;
            min-height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            justify-items: center;
        }
        
        .project-card {
            display:flex;
            flex-direction:column;
            background:linear-gradient(120deg,#03123b ,#2c84bf ,#ff77c6,#3797e6)!important;
            width:80%;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            transition: transform 0.3s;
            padding-bottom: 20px;
            margin-bottom: 40px;
            margin-top:40px;
        }
        
        .project-card:hover {
            background:linear-gradient(120deg,#033b14 ,#2cbf69 ,#77dfff,#3797e6)!important;
            transform: translateY(-5px);
        }
        
        .project-img {
            width: fit-content;
            display: fit-content;
            height: fit-content;
        }
    
        
        .project-content {
            padding: 20px;
        }
        
        .project-content h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: var(--secondary-color);
        }
        
        .project-content p {
            margin-bottom: 15px;
            font-size: 14px;
        }
        
        .project-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
        
        .project-tag {
            background-color: var(--light-color);
            color: var(--text-color);
            padding: 4px 10px;
            border-radius: 20px;
            font-size: 30px;
            width: 60px;
        }
        
        /* Achievements Page Styles */
        #achievements{
            width: 100%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            

        }.achievements-list {
        width: 100%;
        border-radius: 20px;
        font-size: 20px;
        margin-bottom: 350px;}
        
        .achievements-list ul {
            display: grid;
            padding-left: 20px;
        }
        
        .achievements-list li {
            padding: 20px;
            display: grid;

        }
        
        /* Footer Styles */
        .footer {
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 0%;
            width: 100%;
            justify-items: center;
            justify-content: center;
            align-items: center;
            background:linear-gradient(120deg,#2d033b ,#7b2cbf ,#ff77c6,#5a189a)!important;
            color: white;
        }

        











